  <h1>Edit<%= @coffee.name %></h1>

  <form action="/coffees/<%= @@coffee.id %>" method="post">
    <input type="hidden" name="_method" value="patch"/>

    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @@coffee.name %>"/>
    <br>

    <label for="name">Roaster:</label>
    <input type="text" name="roaster" value="<%= @@coffee.roaster %>"/>
    <br>

    <label for="name">Producer:</label>
    <input type="text" name="producer" value="<%= @@coffee.producer %>"/>
    <br>

    <label for="name">Variety:</label>
    <input type="text" name="variety" value="<%= @@coffee.variety %>"/>
    <br>

    <label for="name">Process:</label>
    <input type="text" name="process" value="<%= @@coffee.process %>"/>
    <br>

    <label for="name">Notes:</label>
    <textarea name="notes"><%= @@coffee.notes %></textarea>

    <input type="submit" value="Submit Edited Coffee Log"/>
</form>
