<h1>Coffees</h1>

    <% @coffees.each do |c| %>
        <p><%= c.id %> - <%= c.name %> - <%= c.roaster %> - <%= c.producer %> - <%= c.variety %> - <%= c.process %> - <%= c.notes %>
            <% if current_user == c.user %>
                <a href="/coffees/<%= c.id %>/edit"><button>Edit</button></a>
            <% end %>
        </p>
    <% end %>

<p><a href="/coffees/new">Create New Coffee Log</a></p>
