<div class="index">
    <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0187/0338/files/Screen_Shot_2020-06-29_at_8.24.58_AM.png?v=1593437153" />
    <div class="index__text">
        <h2 style="margin-left: 300px;">Coffees</h2>
            <ol>
                <% @coffees.each do |c| %>
                <li>
                    <% if current_user == c.user %>
                        <a href="/coffees/<%= c.id %>/edit"><button class="button">Edit</button></a>
                    <% end %>
                    <%= c.roaster %> - <%= c.name %> - <%= c.producer %> - <%= c.variety %> - <%= c.process %> - <%= c.notes %>                    
                </li>    
                <% end %>
            </ol>
    </div>
</div>


