<div class="show">
<img class="img-fluid" src="https://static.tumblr.com/19cd724fcd4887efde78965da3b98fec/p0c4lud/Z7rnmkg79/tumblr_static_tumblr_static__focused_v3.jpg" />
    <div class="show__text">
        <h2><%= @coffee.name %></h2>

        <h4>Roaster:</h4>
        <p><%= @coffee.roaster %></p>

        <h4>Producer:</h4>
        <p><%= @coffee.producer %></p>

        <h4>Variety:</h4>
        <p><%= @coffee.variety %></p>

        <h4>Process:</h4>
        <p><%= @coffee.process %></p>

        <h4>Notes:</h4>
        <p><%= @coffee.notes %></p>

        <p><a href="/coffees/<%= @coffee.id %>/edit"><button class="button">Edit This Coffee Log</button></a></p>

    <form action="/coffees/<%= @coffee.id %>" method="post">
        <p><input type="hidden" name="_method" value="delete"/>
        <input class="button" type="submit" value="Delete This Coffee Log"/></p>
    </form>
    </div>
</div>

