<h1><%= @coffee.name %></h1>

<h2>Roaster:</h2>
<p><%= @coffee.roaster %></p>

<h2>Producer:</h2>
<p><%= @coffee.producer %></p>

<h2>Variety:</h2>
<p><%= @coffee.variety %></p>

<h2>Process:</h2>
<p><%= @coffee.process %></p>

<h2>Notes:</h2>
<p><%= @coffee.notes %></p>

<p><a href="/coffees"><button>See All Coffee Logs</button></a></p>
<p><a href="/coffees/<%= @coffee.id %>/edit"><button>Edit This Coffee Log</button></a></p>

<form action="/coffees/<%= @coffee.id %>" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete This Coffee Log"/>
</form>

<p><a href="/coffees/new"><button>Create New Coffee Log</button></a></p>