<h2><%= @coffee.name %></h2>

<img id="show_image" src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMzIxNjQ2My9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY3Njk4Mjg3MX0.4D2MPJW7OJI2KyBWOKAI72HnvEi9IAN5Y01-r60YhB4/img.jpg?width=1200&coordinates=0%2C1066%2C0%2C1066&height=600" />

<div class="show_buttons">
    <div>
        <p><a href="/coffees"><button class="button">See All Coffee Logs</button></a></p>
        <br>
        <p><a href="/coffees/<%= @coffee.id %>/edit"><button class="button">Edit This Coffee Log</button></a></p>
        <br>
        <form action="/coffees/<%= @coffee.id %>" method="post">
            <p><input type="hidden" name="_method" value="delete"/>
            <input class="button" type="submit" value="Delete This Coffee Log"/></p>
        </form>
        <br>
        <p><a href="/coffees/new"><button class="button">Create New Coffee Log</button></a></p>
    </div>
</div>

<h4>Roaster:</h4>
<p><%= @coffee.roaster %></p>

<h4>Producer:</h4>
<p><%= @coffee.producer %></p>

<h4>Variety:</h4>
<p><%= @coffee.variety %></p>

<h4>Process:</h4>
<p><%= @coffee.process %></p>

<h4>Notes:</h4>
<p><%= @coffee.notes %></p>

<br>
<br>
